<a href="http://g-townsurf.com" target="_blank">
<img src="http://barriault.smugmug.com/photos/197301934-L.jpg"
     alt="Galveston Surf Report"
     title="G-Town Surf Report" 
     width="125" height="125" border="0" />
</a>

<a href="http://primefishingtimes.com/tides/29.285/-94.7883" target="_blank">
<img src="http://primefishingtimes.com/webservice/gtown_banner.png"
     alt="Galveston Pleasure Pier Tides - PrimeFishingTimes.com"
     title="Galveston Pleasure Pier Tides - PrimeFishingTimes.com" 
     width="125" height="125" border="0" />
</a>

<a href="http://www.tkqlhce.com/click-2570640-10441530" target="_blank">
<img src="http://www.tqlkg.com/image-2570640-10441530" width="125" height="125" 

alt="Beckersurf" border="0"/>
</a>

<a href="http://www.dpbolvw.net/click-2570640-10482235" target="_blank">
<img src="http://www.awltovhc.com/image-2570640-10482235" width="125" height="125" 

alt="Emergency Supplies and Preparedness Kits at Hurric" border="0" />
</a>

<a href="http://www.anrdoezrs.net/click-2570640-10473220?url=http%3A%2F%2Fmagazinediscountcenter.com%2Fproduct%2FSurf_165.html&cjsku=C0AFT" target="_blank"><img src="http://magazinediscountcenter.com/images/prod_images/thumb/165.jpeg" border="0" alt="Surf"/></a>
<img src="http://www.ftjcfx.com/image-2570640-10473220" width="1" height="1" border="0"/>